@model List<RealEstateListingApp.Models.Domain.Property>

@{
    ViewData["Title"] = "List of Properties";
}

<div class="col-12 grid-margin">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Properties</h4>
            <div class="table-responsive">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>Property Type</th>
                            <th>Address</th>
                            <th>Price</th>
                            <th>Description</th>
                            <th>No. Of Bedrooms</th>
                            <th>No. Of Bathrooms</th>
                            <th>Square Foot</th>
                            <th>Listing Date</th>
                            <th> </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var property in Model)
                        {
                            <tr>
                                <td><label class="badge badge-gradient-info">@property.PropertyType</label></td>
                                <td>@property.Address</td>
                                <td>@property.Price</td>
                                <td>@property.Description</td>
                                <td>@property.NumberOfBedrooms</td>
                                <td>@property.NumberOfBathrooms</td>
                                <td>@property.SquareFootage</td>
                                <td>@property.ListingDate.ToString("dd-MM-yyyy")</td>
                                <td>
                                    <a class="btn btn-gradient-dark btn-icon-text" title="Edit Property" href="Properties/Edit/@property.Id">
                                        
                                            Edit <i class="mdi mdi-file-check btn-icon-append"></i>
                                        
                                    </a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
